
.container {
    background: linear-gradient(to bottom, #a5a5a5, #ffffff);
    color: (#a5a5a5);
    font-family: 'Arial', sans-serif;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s ease;
    border-radius: 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.05);
}

.card-body {
    padding: 2em;
    transition: all 0.3s ease;
}

.card-title {
    text-transform: uppercase;
    text-align: center;
    transition: color 0.3s ease;
    font-size: 2em;
}

.card-text {
    transition: color 0.3s ease;
    font-size: 1.2em;
}

.btn {
    background: white;
    color: #007bff;
    border: none;
    transition: all 0.3s ease;
    padding: 10px 20px;
    border-radius: 5px;
}

.btn:hover {
    background: #007bff;
    color: white;
}

.carousel {
    position: relative;
    top: -50px;
}
.carousel-item {
    transition: opacity 1s ease-in-out;
}
