body {
    background: radial-gradient(circle, #007BFF, #40E0D0), linear-gradient(to right, #007BFF, #40E0D0), url('./Images/BG.png') center/cover no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: background-color 0.5s ease-in-out;
    transform-origin: center center;
}


header {
    background-color: #333;
    padding: 10px;
    transition: background-color 0.3s ease-in-out;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

    nav ul li {
        display: inline;
        margin-right: 10px;
    }

        nav ul li a {
            color: #fff;
            text-decoration: none;
        }

main {
    padding: 20px;
}

h1 {
    color: #333;
    text-shadow: 2px 2px 4px #007BFF;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out;
}

p {
    color: #666;
}

.product-section {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    border: 10px solid;
    border-image: linear-gradient(to bottom, #007BFF, #40E0D0) 1;
    transition: box-shadow 0.3s ease-in-out, border 0.4s ease-in-out, background-color 0.3s ease-in-out;
    transform: matrix(1, 0.2, 0, 1, 0, 0) skew(0, 0) rotateZ(0deg) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1) skew(0, 0);
}

.photo-section {
    margin-top: 90px;
    width: 162px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding: 10px;
    flex-basis: calc(20% - 10px);
    margin: 5px;
    position: relative;
    cursor: pointer;
    outline: 2px solid #007BFF;
    border-image-source: url('border.png');
    border-image-slice: 30;
    border-image-width: 10px;
    border-image-repeat: round;
    border-image-outset: 5px;
    transition: outline 0.3s ease-in-out, background-color 0.3s ease-in-out;
    transform: skew(-0deg, 0) rotateZ(5 deg) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-origin: center center;
}

    .photo-section img {
        width: 100%;
    }

.caption {
    text-align: center;
    margin-top: 10px;
    cursor: pointer;
    color: #333;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: #007BFF;
    transition: color 0.3s ease-in-out;
}

.description {
    display: none;
    margin-top: 10px;
    color: #666;
    opacity: 0;
    transform: translateY(100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.photo-section:hover .description {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    border: 2px solid #007BFF;
    display: block;
    opacity: 1;
    transform: translateY(0);
}

.photo-section:hover {
    box-shadow: 0 2px 10px rgba(0, 0, 0, .1);
    background-color: rgb(192, 220, 247);
}

.caption:hover {
    text-decoration: underline;
    color: #007BFF;
}

.description {
    color: #333;
    font-style: italic;
}

.content {
    flex: 1;
}

.footer {
    background-color: #f5f5f5;
    padding: 20px;
    text-align: center;
    flex-shrink: 0;
    transition: background-color 0.3s ease-in-out;
}

.welcome-message {
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}

.contact input,
.contact textarea {
    display: block;
    margin-bottom: 10px;
    resize: both;
    caret-color: #007BFF;
    transition: border-color 0.3s ease-in-out;
}

.contact p {
    font-size: 20px;
    font-weight: bold;
    color: rgb(0, 0, 0);
}

.photo-section:hover .description {
    opacity: 1;
    transform: translateY(0);
}
